@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 22px;

  @include lg-screen {
    font-size: 18px;
  }
}

mark.white {
  background-color: white;
}

.bold {
  font-weight: bolder;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 72%,
    $lightred 50%
  );
}
