.Navbar {
  background: $marine;
  width: 100vw;
  height: $navbar-height;
  @include center;
  position: fixed;

  .content {
    width: 100%;
    height: $navbar-height;
    max-width: $max-width;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;

    @include md-screen {
      padding: 0 20px;
    }

    .logo {
      margin-top: 5px;
      height: 130px;
    }

    .links {
      height: 100%;
      display: flex;
      align-items: center;
      color: white;
      font-size: 20px;
      text-transform: uppercase;

      a {
        margin: 0 5px;
        padding: 10px 15px;

        &:hover {
          cursor: pointer;
          background: $red;
          transition: 200ms;
        }
      }
    }
  }
}
